langgraph==1.1.10
langgraph-prebuilt==1.0.13
langchain==1.2.13
langchain-openai==1.1.12
langchain-community==0.4.1
chromadb==1.5.5
openai==2.29.0
streamlit==1.55.0
fastapi==0.125.0
uvicorn[standard]==0.38.0
pandas==2.3.3
python-dotenv==1.2.1
sentence-transformers==5.2.3
numpy==2.4.2
transformers==5.2.0
torch==2.10.0
matplotlib==3.10.9
psycopg2-binary==2.9.11
